#main {
   text-align: center;
}

.unsupported {
   font-family: Helvetica;
   color: #F44;
}

table {
   width: 75%;
   margin: 1.5em auto 1.5em auto;
   text-align: center;
   font-family: Helvetica;
   color: #A98;
}
#planicanvas{ 
  width: 44%;
  height:44%;
}

.starmapEditorButton{
    width: 100%!important;
    height: 34px!important;
    padding: 6px 12px!important;
    margin: 0.2em!important;
}